<div class="home-new">
<div class="w-100">
    <h4 class="sport-list-title">Our Live Casinos</h4>
    <div class="casino-banners-list mt-2">
        <div class="casino-banner-item login-hover"  *ngFor="let Item of Casinos">
          <a>
            <img [src]="Item">
                <div role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal" >Login</div>
            </a></div>
    </div>
    <h4 class="sport-list-title">Virtual Casinos</h4>
    <div class="casino-banners-list mt-2">
        <div class="casino-banner-item login-hover"  *ngFor="let Item of Items2">
          <a >
<img [src]="Item" >
                <div role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</div>
            </a></div>
    </div>
    <div class="container-fluid container-fluid-5">
        <div class="row row5">
            <div class="col-12 col-md">
                <h4 class="sport-list-title">Live Casinos</h4>
                <div class="casino-banners-list live-casinos mt-2">
                    <div class="casino-banner-item login-hover" *ngFor="let Item of provider">
                      <a>
                        <img [src]="Item" >
                            <div role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Login
                            </div>
                        </a>
                      </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <h4 class="sport-list-title">AWC</h4>
                <div class="casino-banners-list live-casinos mt-2">
                    <div class="casino-banner-item login-hover" *ngFor="let Item of awc">
                      <a>
                        <img  [src]="Item">
                            <div role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Login
                            </div>
                            </a>
                </div>
            </div>
        </div>
    </div>
    <h4 class="sport-list-title">Sports</h4>
    <div class="all-sports-list mt-2">
        <div class="sport-list-item"><img src="assets/img/event/10-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Horse Racing</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/4-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Cricket</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/1-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Football</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/2-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Tennis</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/8-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Table Tennis</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/15-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Basketball</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/18-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Volleyball</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/59-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Snooker</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/39-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Handball</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/19-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Ice Hockey</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/11-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">E Games</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/9-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Futsal</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/66-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Kabaddi</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/5-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Golf</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/55-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Rugby League</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/6-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Boxing</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/7-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Beach Volleyball</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/3-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Mixed Martial Arts</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/40-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Politics</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/16-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">MotoGP</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/17-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Chess</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/22-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Badminton</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/29-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Cycling</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/32-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Motorbikes</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/33-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Athletics</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/35-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Basketball 3X3</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/37-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Sumo</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/38-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Virtual sports</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/52-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Motor Sports</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/53-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Baseball</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/54-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Rugby Union</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/57-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Darts</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/58-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">American Football</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/62-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Soccer</div>
        </div>
        <div class="sport-list-item"><img src="assets/img/event/64-color.svg"
                role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="mt-1 text-center">Esports</div>
        </div>
    </div>

    <h4 class="sport-list-title">Top Winners</h4>


</div>
</div>




