h4.sport-list-title {
    color: var(--text-fancy);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid var(--text-fancy);
    margin-left: 15px
}
