<div class="header-top">
    <ul>
        <li><a [routerLinkActive]="'active'" routerLink="/sports" class="router-link-exact-active " aria-current="page">Exchange</a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/casino" class="">Live Casino</a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/slot" class="">Slot</a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/awc" class="">AWC</a></li>
        <!-- <li><a [routerLinkActive]="'active'" routerLink="/Fantasy" class="">Fantasy Games</a></li> -->
        <li><a [routerLinkActive]="'active'" routerLink="/pokercasino" class="">Poker</a></li>
    </ul>
    <div class="depo-withdraw-btn"> </div>
</div>
