<footer class="footer">
    <div class="support">
        <div>
            <div class="w-100 text-center"><b>24X7 Support</b></div>
            <div class="text-center w-100"></div>
        </div> 
    </div>
    <div class="footer-menu">
        <ul>
            <li><a routerLink="/about-us" class="" target="_blank">About Us</a></li> 
            <li><a routerLink="/terms-and-condition" class="" target="_blank">Terms and Conditions</a></li>
            <li><a routerLink="/responsible-gaming" class="" target="_blank">Responsible Gaming</a></li> 
        </ul>
    </div>
    <div class="footer-box">
        <div class="footer-top">
            <div class="secure-logo">
                <div><img src="assets/img/ssl.png"></div>
                <div class="ml-2" style="color: #aaafb5;"><b>100% SAFE</b>
                    <div>Protected connection and encrypted data.</div>
                </div>
            </div>
            <div class="d-inline-block footer-other">
                <a href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img
                        src="assets/img/18plus.png"></a> 
                        <a href="https://www.gamcare.org.uk/"
                    target="_blank"><img src="assets/img/gamecare.png"></a> <a
                    href="https://www.gamblingtherapy.org/en" target="_blank"><img src="assets/img/gt.png"></a>
                 
            </div>
        </div> 
        <div class="footer-bottom"></div>
    </div>
    <div class="text-center mt-1 w-100 copyright" style="color: #aaafb5;">
        © Copyright 2020. All Rights Reserved.
    </div>   
</footer>



<!-- 18+  -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <header id="eighteenPlusFooter___BV_modal_header_" class="modal-header">
                <h5 id="eighteenPlusFooter___BV_modal_title_" class="modal-title">cricbuzzer.com</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close"
                    aria-label="Close" class="close">×</button>
            </header>

            <div id="eighteenPlusFooter___BV_modal_body_" class="modal-body">
                <div class="modal-18plus p-5">
                    <div><img src="assets/img/18plus.png"></div>
                    <p><b>Over 18s only</b> <br> <br>It is an offence for anyone under the age of 18 to open an account
                        or to gamble on cricbuzzer.
                        cricbuzzer
                        takes
                        its age-verification responsibilities very seriously. We carry out age-verification checks on
                        all
                        customers
                        who use payment mechanisms which are available to under 18s and additionally perform random
                        age-verification
                        checks on customers using other forms of funding mechanisms. We may ask for information to
                        verify your
                        age
                        and
                        could restrict or suspend your account until your age is confirmed.
                        <br> <br>PLEASE NOTE THAT ANYONE UNDER THE AGE OF 18 YEARS OLD FOUND TO BE USING THIS SITE WILL
                        HAVE ANY
                        WINNINGS
                        FORFEITED AND MAY ALSO BE REPORTED TO THE POLICE.
                        <br> <br> <b>Filtering systems</b> <br> <br>cricbuzzer advises and encourages its customers to
                        prevent minors from accessing gambling websites.
                        <br> <br>Filtering solutions allow parents to regulate access to the internet, based on chosen
                        criteria.
                        Parents
                        can use filters to prevent their children from accessing, amongst other things, gambling
                        websites.
                        Because
                        our
                        pages are 'labelled', filtering solutions being used to prevent gambling access are able to
                        detect our
                        site
                        content, and block our pages. If you share your computer with friends or family who are under
                        the legal
                        age
                        to
                        register or bet with our site, please consider parental filtering solutions such as:
                        <br> <br>Net Nanny™
                        <a href="https://www.netnanny.com" target="_blank">www.netnanny.com</a> <br> <br>CyberPatrol
                        <a href="https://www.cyberpatrol.com" target="_blank">www.cyberpatrol.com</a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- modal end  -->