<app-header-top></app-header-top>

<div class="main-container">
    <header class="header header-casino">
        <!-- <app-header-casino></app-header-casino> -->
        <app-header></app-header>
    </header>

    <div class="logo-box d-none-mobile logo-casino">
        <div class="logo"><a routerLink="/sports" class=""><img src="assets/img/logo-cricbuzzer.png"
                    class="img-fluid"></a></div>
    </div>
    <div class="center-main-content report-container">
        <div class="news-bar d-none-desktop">
            <marquee>For Indian Horse Racing - Whenever there is a case of any horse withdrawn subsequent odds displayed
              will be gross in nature and subject to applicable deduction.</marquee>
            <div class="news-title"><img src="assets/img/speaker.svg"></div>
          </div>
          <div class="upcoming-fixure d-none-desktop">
            <div class="fixure-title">Upcoming Fixtures</div>
            <div class="fixure-box-container">
              <div id="carousel3" data-ride="carousel" data-interval="3000" class="carousel vert slide"></div>
            </div>
          </div>

        <div class="report-box faq-container">
            <div class="report-title">
                <div class="report-name">Frequently asked questions (FAQ)</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="faq-question-box">
                        <h5>1. Follow this video tutorial when the game does not work in safari browser.</h5>
                        <div>
                            <p><a role="button" data-bs-toggle="modal" data-bs-target="#tut01">Click here to
                                watch the video tutorial!</a>
                            </p>
                            <div class="modal fade" id="tut01" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">


                                        <div tabindex="-1" class="modal-content">
                                            <header class="modal-header">
                                                <h5  class="modal-title">1. Follow
                                                    this video tutorial when the game does not work in safari
                                                    browser</h5><button type="button" aria-label="Close"
                                                    data-bs-dismiss="modal" class="close">×</button>
                                            </header>
                                            <div  class="modal-body text-center"><video
                                                    width="100%" autoplay="autoplay" controls="controls">
                                                    <source
                                                        src="https://sitethemedata.com/v96/static/front/img/FAQ/1/safari-mobile.mp4"
                                                        type="video/mp4">
                                                </video></div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="faq-question-box">
                        <h5>2. Follow this video tutorial when the game does not work in private browser</h5>
                        <div class="casino-tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a data-toggle="tab" class="nav-link active" id="chrometut-tab"
                                        data-bs-toggle="tab" data-bs-target="#chrometut" type="button" role="tab"
                                        aria-controls="chrometut" aria-selected="true">Chrome</a></li>
                                <li class="nav-item"><a data-toggle="tab" class="nav-link" id="firefoxtut-tab"
                                        data-bs-toggle="tab" data-bs-target="#firefoxtut" type="button" role="tab"
                                        aria-controls="firefoxtut" aria-selected="false">Firefox</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" class="nav-link" id="edgetut-tab"
                                        data-bs-toggle="tab" data-bs-target="#edgetut" type="button" role="tab"
                                        aria-controls="edgetut" aria-selected="false">Edge</a></li>
                                <li class="nav-item"><a data-toggle="tab" class="nav-link" id="nav-safari-tab"
                                        data-bs-toggle="tab" data-bs-target="#nav-safari" type="button" role="tab"
                                        aria-controls="nav-safari" aria-selected="false">Safari</a>
                                </li>
                            </ul>
                        </div>


                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="chrometut" role="tabpanel"
                                aria-labelledby="chrometut-tab" tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#chrome">Click here
                                        to watch the video
                                        tutorial! </a></p>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="firefoxtut" role="tabpanel"
                                aria-labelledby="firefoxtut-tab" tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#firefox">Click here
                                        to watch the video
                                        tutorial!</a></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="edgetut" role="tabpanel"
                                aria-labelledby="edgetut-tab" tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#edge">Click here to
                                        watch the video
                                        tutorial! </a></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-safari" role="tabpanel" aria-labelledby="nav-safari-tab"
                                tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#safari">Click here
                                        to watch the video
                                        tutorial!</a></p>
                                </div>
                            </div>
                        </div>
                        <!--modal start-->
                        <div class="modal fade" id="chrome" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" >Chrome</h1>
                                        <button type="button" aria-label="Close" data-bs-dismiss="modal"
                                            class="close">×</button>
                                    </div>
                                    <div id="faq-2-1___BV_modal_body_" class="modal-body text-center"><video
                                            width="100%" autoplay="autoplay" controls="controls">
                                            <source
                                                src="https://sitethemedata.com/v96/static/front/img/FAQ/2/chrome.mp4"
                                                type="video/mp4">
                                        </video></div>

                                </div>
                            </div>
                        </div>
                        <!--modal end-->
                        <!-- forefox modal start-->
                        <div class="modal fade" id="firefox" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" >Firefox</h1>
                                        <button type="button" aria-label="Close" data-bs-dismiss="modal"
                                            class="close">×</button>
                                    </div>
                                    <div id="faq-2-1___BV_modal_body_" class="modal-body text-center"><video
                                            width="100%" autoplay="autoplay" controls="controls">
                                            <source
                                                src="https://sitethemedata.com/v96/static/front/img/FAQ/2/firefox.mp4"
                                                type="video/mp4">
                                        </video>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--modal end-->
                        <!--edgemodal start-->
                        <div class="modal fade" id="edge" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" >Edge</h1>
                                        <button type="button" aria-label="Close" data-bs-dismiss="modal"
                                            class="close">×</button>
                                    </div>
                                    <div id="faq-2-1___BV_modal_body_" class="modal-body text-center"><video
                                            width="100%" autoplay="autoplay" controls="controls">
                                            <source src="https://sitethemedata.com/v96/static/front/img/FAQ/2/edge.mp4"
                                                type="video/mp4">
                                        </video>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--modal end-->
                        <!-- safari modal start-->
                        <div class="modal fade" id="safari" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" >Safari</h1>
                                        <button type="button" aria-label="Close" data-bs-dismiss="modal"
                                            class="close">×</button>
                                    </div>
                                    <div id="faq-2-1___BV_modal_body_" class="modal-body text-center"><video
                                            width="100%" autoplay="autoplay" controls="controls">
                                            <source
                                                src="https://sitethemedata.com/v96/static/front/img/FAQ/2/safari.mp4"
                                                type="video/mp4">
                                        </video>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--modal end-->






                    </div>
                </div>











                <div class="col-md-6 col-12">
                    <div class="faq-question-box">
                        <h5>3. Follow this video tutorial when the game does not work in apple product.</h5>
                        <div class="casino-tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a data-toggle="tab" class="nav-link active" id="home-tab"
                                        data-bs-toggle="tab" data-bs-target="#set" type="button" role="tab"
                                        aria-controls="home-tab-pane" aria-selected="true">Settings for Mobile </a></li>
                                <li class="nav-item"><a data-toggle="tab" class="nav-link" id="profile-tab"
                                        data-bs-toggle="tab" data-bs-target="#set2" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="false">Settings for
                                        Desktop</a></li>
                            </ul>
                        </div>


                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="set" role="tabpanel" aria-labelledby="home-tab"
                                tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Click
                                            here to watch the video
                                        tutorial! </a></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="set2" role="tabpanel" aria-labelledby="profile-tab"
                                tabindex="0">
                                <div>
                                    <p><a role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Click
                                            here to watch the video
                                        tutorial! </a></p>
                                </div>
                            </div>

                        </div>

                        <div class="modal fade" id="staticBackdrop" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div id="faq-3-1___BV_modal_content_" tabindex="-1" class="modal-content">
                                        <header id="faq-3-1___BV_modal_header_" class="modal-header">
                                            <h5 id="faq-3-1___BV_modal_title_" class="modal-title">Settings for Mobile
                                            </h5> <button type="button" aria-label="Close" data-bs-dismiss="modal"
                                                class="close">×</button>
                                        </header>
                                        <div id="faq-3-1___BV_modal_body_" class="modal-body text-center"><video
                                                width="100%" autoplay="autoplay" controls="controls">
                                                <source
                                                    src="https://sitethemedata.com/v96/static/front/img/FAQ/3/allow-popup-mobile.mp4"
                                                    type="video/mp4">
                                            </video></div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="staticBackdrop2" 
                            tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-lg ">
                                <div class="modal-content">
                                    <div id="faq-3-2___BV_modal_content_" tabindex="-1" class="modal-content">
                                        <header id="faq-3-2___BV_modal_header_" class="modal-header">
                                            <h5 id="faq-3-2___BV_modal_title_" class="modal-title">Settings for Desktop
                                            </h5><button type="button" aria-label="Close" data-bs-dismiss="modal"
                                                class="close">×</button>
                                        </header>
                                        <div id="faq-3-2___BV_modal_body_" class="modal-body text-center"><video
                                                width="100%" autoplay="autoplay" controls="controls">
                                                <source
                                                    src="https://sitethemedata.com/v96/static/front/img/FAQ/3/allow-popup-web.mp4"
                                                    type="video/mp4">
                                            </video></div>
                                    </div>


                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-s-footer></app-s-footer>
</div>