


.arrow-tabs:checked ~ .sport10 {
    margin-left: 0%;
}
.arrow-tabs:checked ~ .sport10 {
    margin-left: -20%;
}
.arrow-tabs:checked ~ .sport10 {
    margin-left: -40%;
}

.arrow-tabs:checked ~ .sport10 {
    margin-left: -60%; 
}

/* .hooper-track {
    list-style: none;
    height: 100%;
    display: flex;
    animation:scrolling 28s linear infinite ;
} */

@keyframes scrolling {
    0% {
        transform: translateX(-3vw);
    }
    100% {
        transform: translateX(-180vw);
    }

}

a:hover{
    cursor: pointer;
}



.carousal-63 img{
    width: 100%;
}


.loading-bet{
    text-align: center;
    font-size: 1rem;
}

.load-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.ripple {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.3rem solid #979fd0;
    transform: translate(50%);
    -webkit-animation: 1s ripple ease-out infinite;
    animation: 1s ripple ease-out infinite;
}

@-webkit-keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}