<header class="header " [ngClass]="containerView">
    <a [routerLink]="['/sports']" *ngIf="!ishomebutton">
        <div class="d-none-desktop d-inline-block top-home-icon">
            <i class="fas fa-home"></i>
        </div>
    </a>
    <div id="openSidebar" *ngIf="ishomebutton" [routerLink]="['/sports']" class="menu-button-mobile"
        (click)="onclick1()">
        <span class="menu-button-bar"></span>
        <span class="menu-button-bar"></span>
        <span class="menu-button-bar"></span>
    </div>

    <div class="logo-box d-none-desktop"><a [routerLink]="['/sports']">
            <div class="logo"><img src="assets/img/logo-cricbuzzer.png" class="img-fluid"></div>
        </a>
    </div>

    <div class="upcoming-fixure d-none-mobile">
        <div class="fixure-title">Upcoming Fixtures</div>
        <div class="fixure-box-container">
            <marquee>
                <div class="marquee">
                    <div class="marquee-inner">
                        <div class="marquee-content">
                            <div class="login-fixture">
                                <ng-container *ngFor="let sport of sportList ; let index = index">
                                    <ng-container
                                        *ngFor="let match of sport.matches | sortByDate:'matchDate';trackBy:trackByEvent">
                                        <ng-container>
                                            <div class="fixure-box" [routerLink]="['/fullmarkets', match.eventId]">
                                                <div>
                                                    <i class="d-icon mr-2 icon-{{sport.id}}"></i>
                                                    {{match.eventName}}
                                                </div>
                                                <div>{{match.time | date:'yyyy-MM-dd HH:mm:ss' }} </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </marquee>
        </div>
    </div>
    <!-- <app-news></app-news> -->

    <div class="news-bar d-none-mobile">
        <marquee *ngIf="isLogin">
            {{data?.ticker}}
        </marquee>
        <div class="news-title"><img src="assets/img/speaker.svg"></div>
    </div>
    <div class="float-right header-right">
        <!-- <span class="balance d-none-mobile" data-bs-toggle="modal" data-bs-target="#ptsmodal">pts:
            <span class="balance-value">{{fundInfo?.balance |number:'1.2-2'}}</span>
            <span class="balance-value"
                class="balance-value" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                | {{fundInfo?.exposure | number:'1.2-2'}}
            </span>
        </span> -->
        <div class="balance d-none-mobile">
            <div class="first-child"><i class="fas fa-wallet"></i></div>
            <div class="last-child" data-bs-toggle="modal" data-bs-target="#ptsmodal">
                <span class="balance-value">pts:
                    <span>{{fundInfo?.balance |number:'1.2-2'}}</span></span>
                <span class="balance-value" data-bs-toggle="modal" data-bs-target="#staticBackdrop">exp:
                    <span>{{fundInfo?.exposure | number:'1.2-2'}}</span></span>
            </div>
        </div>

        <div class="username-info d-none-mobile" (click)="showDrop()"><span class="user-icon">
                <img src="assets/img/user.svg"></span>
            <span class="username">{{balanceApi?.userName}}
                <!-- {{accountInfo?.userName}} -->
            </span>
            <img src="assets/img/arrow-down.svg">
            <div id="user-dropdown" class=" user-dropdown" *ngIf="showDropDown">
                <a routerLink="/account-statement">Account Statement</a>
                <a routerLink="/currentt-bets">Current Bets</a> <a routerLink="/activity">Activity Log</a>
                <a routerLink="/casinoresult">Casino Bets</a>
                <a routerLink="/bet-history">Bet History</a>
                <a routerLink="/profit-loss">Profit/Loss</a>
                <a routerLink="/poker-report">Poker Report</a>
                <a routerLink="/slot-report">Slot Report</a>
                <a routerLink="/sn-report">supernowa Report</a>
                <a data-bs-toggle="modal" data-bs-target="#stbd">Set Button Value</a>
                <a data-bs-toggle="modal" data-bs-target="#changepwd">Change Password</a>
                <!-- <a routerLink="/securityauth">Security Auth Verification</a> -->
                <div class="login-seperator"></div>
                <a (click)="logout()">Logout</a>
            </div>
        </div>

        <div class="text-center d-none-desktop bal-point" data-bs-toggle="modal" data-bs-target="#ptsmodal">
            pts:
            <span> {{fundInfo?.balance |number:'1.2-2'}}</span>
            <span> |</span>
            <span> {{fundInfo?.exposure | number:'1.2-2'}}</span>
        </div>


        <div class="username-info d-none-desktop">
            <div (click)="showDrop()" class="d-inline-block ">
                <span class="user-icon">
                    <img src="assets/img/user.svg"></span>
                <span class="username">{{balanceApi?.userName}}</span>
                <img src="assets/img/arrow-down.svg">
            </div>
            <div id="user-dropdown" class=" user-dropdown" *ngIf="showDropDown">
                <div class="depo-withdraw-btn"></div>
                <div class="login-seperator"></div>
                <a routerLink="/account-statement"> Account Statement</a>
                <a routerLink="/currentt-bets">Current Bets</a>
                <a routerLink="/activity">Activity Log </a>
                <a routerLink="/casinoresult">Casino Bets</a>
                <a routerLink="/bet-history">Bet History</a>
                <a routerLink="/profit-loss">Profit/Loss</a>
                <a routerLink="/poker-report">Poker Report</a>
                <a routerLink="/slot-report">Slot Report</a>
                <a routerLink="/sn-report">supernowa Report</a>
                <a data-bs-toggle="modal" data-bs-target="#stbd">Set Button Value</a>
                <a data-bs-toggle="modal" data-bs-target="#changepwd">Change Password</a>
                <!-- <a routerLink="/securityauth">Security Auth Verification</a> -->
                <div class="login-seperator"></div>
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</header>

<!--change pwd modal start  -->

<div class="modal fade" id="changepwd">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Change Password</h5><button type="button" aria-label="Close" class="close"
                    data-bs-dismiss="modal">×</button>
            </header>
            <div class="modal-body">
                <div class="login-form">
                    <form [formGroup]="ChangePwdForm" (ngSubmit)="ChangePwd()">
                        <div class="form-group"><label class="user-email-text">Old Password</label> <input
                                type="password" autocomplete="off" name="oldpassword" formControlName="pwd"
                                class="form-control">

                            <span class="error"
                                *ngIf="pwd?.errors?.['required'] && fc?.['pwd']?.touched || submitted  ">
                                <span>
                                    old password Field is required
                                </span>
                            </span>
                        </div>
                        <div class="form-group"><label class="user-email-text">New Password</label> <input
                                type="password" autocomplete="off" name="newpassword" formControlName="newpwd"
                                class="form-control">
                            <span class="error" *ngIf="newpwd?.errors?.['required'] && fc?.['newpwd']?.touched">
                                <span>
                                    The password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number

                                </span>
                            </span>
                        </div>
                        <div class="form-group"><label class="user-email-text">Confirm Password</label> <input
                                type="password" autocomplete="off" formControlName="retypepwd" name="confirmpassword"
                                class="form-control">
                            <span class="error" *ngIf="retypepwd?.errors?.['required'] && fc?.['retypepwd']?.touched ">
                                <span>
                                    The Confirm Password field is required
                                </span>
                            </span>
                            <span class="error" *ngIf="fc?.['retypepwd']?.errors?.['mustMatch']">
                                <span>
                                    password must match
                                </span>
                            </span>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" data-bs-dismiss="modal"
                                [disabled]="ChangePwdForm.invalid" (ngSubmit)="ChangePwd()">Change Password</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal end   -->


<!--set btn  Modal -->
<div class="modal fade" id="stbd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Set Button Value</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="stbd" class="modal-body">
                <div>
                    <!-- <ul class="nav nav-tabs buttons-tabs">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#gamebtn"
                                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span>Game
                                    Buttons</span></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#casinobtn"
                                type="button" role="tab" aria-controls="profile-tab-pane"
                                aria-selected="false"><span>Casino
                                    Buttons</span></a></li>
                    </ul> -->

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="gamebtn" role="tabpanel" aria-labelledby="home-tab"
                            tabindex="0">

                            <div class="tab-content">
                                <form [formGroup]="StakeSettingForm" *ngIf="StakeSettingForm">
                                    <div id="game-btn" class="bet-table tab-pane active">
                                        <div class="t   able-responsive">
                                            <table class="table button-value">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>Price Label</th> -->
                                                        <th>Price Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <!-- <td><input type="text" class="form-control"> </td> -->
                                                        <td><input type="number" class="form-control" numberOnly
                                                                type="text" value="{{f.stake1.value}}" maxlength="7"
                                                                formControlName="stake1">
                                                        </td>
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake2.value}}" numberOnly maxlength="7"
                                                                formControlName="stake2">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <!-- <td><input type="text" class="form-control"> </td> -->
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake3.value}}" numberOnly maxlength="7"
                                                                formControlName="stake3">
                                                        </td>
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake4.value}}" numberOnly maxlength="7"
                                                                formControlName="stake4">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <!-- <td><input type="text" class="form-control"> </td> -->
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake5.value}}" numberOnly maxlength="7"
                                                                formControlName="stake5">
                                                        </td>
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake6.value}}" numberOnly maxlength="7"
                                                                formControlName="stake6">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <!-- <td><input type="text" class="form-control"> </td> -->
                                                        <td><input type="number" class="form-control"
                                                                value="{{f.stake6.value}}" numberOnly maxlength="7"
                                                                formControlName="stake6">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right">
                                            <button class="btn btn-primary btn-block" data-bs-dismiss="modal"
                                                (click)="SaveBetStakeSetting()">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <!-- <div class="tab-pane fade" id="casinobtn" role="tabpanel" aria-labelledby="profile-tab"
                            tabindex="0">

                            <div class="tab-content">
                                <div id="game-btn" class="bet-table tab-pane active">
                                    <div class="t   able-responsive">
                                        <table class="table button-value">
                                            <thead>
                                                <tr>
                                                    <th>Price Label</th>
                                                    <th>Price Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="form-control" placeholder="25"> </td>
                                                    <td><input type="number" class="form-control" placeholder="25">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="form-control" placeholder="50"> </td>
                                                    <td><input type="number" class="form-control" placeholder="50">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="form-control" placeholder="100"> </td>
                                                    <td><input type="number" class="form-control" placeholder="100">
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right"><button class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--set btn  Modal end-->


<!-- pts modal  -->
<div class="modal fade" id="ptsmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">My Market</h1>
                <button type="button" aria-label="Close" class="close" data-bs-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                There are no markets data!
            </div>

        </div>
    </div>
</div>
<!-- pts modal end -->