.loader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F252C;
    z-index: 1000;
  }

  .loader > img{

    display: block;
    height: 150px;
  }

.loader.hidden{
  animation: FadeOut 1.5s;
  animation-fill-mode: forwards;
}