.register-fields .country-selector__input,.register-fields .input-tel__input{
    background-color: #444 !important;
    border: 1px solid #777 !important;
    opacity: 0.6 !important;
  }
  .register-fields .country-selector__input:hover,.register-fields .input-tel__input:hover{
    background-color: transparent !important;
  }
  .curr-confirm .modal-sm {
    max-width: 300px;
    width: 300px;
  }
  .curr-confirm .modal-content{
    background-color: #fff;
    color: #222;
  }
  .curr-confirm .modal-header{
    background-color: #fff;
    color: #222;
  }
  .curr-confirm .modal-header .close{
    color: #222;
  }
  .curr-confirm .modal-footer{
    background-color: #fff;
    color: #222;
  } 
  .curr-confirm .modal-title{
    color: #000;
  }
  .ws-pre-wrap {
    white-space: pre-wrap !important;
  }
  
  .home-casiono-icons .hooper {
    height: auto !important;
  }
  
  .home-casiono-icons .hooper-slide {
    padding: 0 5px;
  }
  
  .home-casiono-icons.d-none-mobile .hooper-slide {
    padding: 5px 0;
  }
  
  .upcoming-fixure .hooper {
    height: auto !important;
  }
  
  .upcoming-fixure .hooper.is-vertical .hooper-track {
    height: 46px !important;
  }
  .top-results .hooper.is-vertical .hooper-track {
    height: 162px !important;
  }
  
  .hooper {
    height: auto !important;
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
  
  .wolf-open-home .home-casiono-icons .hooper-slide {
    padding: 0 !important;
    text-align: center;
  }
  
  .wolf-open-home .right-sidebar .hooper-track {
    display: flex;
    align-items: center;
    background-color: black;
  }
  
  .agree-tooltip a {
    color: var(--text-green);
    text-decoration: underline;
  }
  
  /* .home-casiono-icons.casino .hooper-track {
      height: 700px !important;
  } */
  
  .bonus-modal-body {
    background-color: white;
  }
  
  .bonus-modal-body iframe {
    width: 100%;
    height: calc(100vh - 105px);
  }
  
  @media screen and (max-width: 767px) {
    .bonus-modal-body iframe {
      height: calc(100vh - 169px);
    }
  }
  