:root {
    --bg-body: #23292E;
    --text-body: #AAAFB5;
    --bg-sidebar: #16191C;
    --text-sidebar: #AAAFB5;
    --bg-table: #2E3439;
    --text-table: #AAAFB5;
    --bg-table-header: #3c444b;
    --text-table-header: #AAAFB5;
    --text-highlight: #ffffff;
    --text-fancy: #FDCF13;
    --btn-primary: #03B37F;
    --btn-secondary: #03B37F52;
    --btn-reset: #FC4242;
    --bg-tabs: #03b37f33;
}